/***************************************
   Default Styles
************************************** */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 62.5% Verdana, Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.3em;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}

code {
  font-size: 1.2em;
}

a {
  color: #06581f;
}

.topnav {
  float: left;
  background-color: #ddd;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  font-size: .9em;
}

.topnav h3 {
  margin: .5em 0;
}

div{
	float:left;
	border: solid gray 5px;
	text-align:left; 
}

.guess_box{
	height:245px;
    margin-bottom:40px

 
}

button{ 
   display: block;
   margin: auto;
}

.result_box{ 
   display: block;
   margin: auto;
   margin-left: 242px ; 
   border: solid #bcd 12px;
   width: 295px;
   height: 95px;
   background-color: #eef;
   text-align: center;
   font-style: sans-serif bold;
}

#container {
  font-size: 1.2em;
  margin: 4em;
}

#header{
 	width:100%;
 	border: 0px;
 	height:50px;
}

.page-content{
	background-color: gray;
	height: 500px;
	margin: auto;
	margin-top: 42px ; 
	margin-left: 92px ; 
}

.my_hover{
	border: solid #00f 3px;
}

.discount{
	border: solid #0f0 3px;
}

.no_discount{
	border: solid #f00 3px;
}