/***************************************
   Default Styles
************************************** */


code {
  font-size: 1.2em;
}

a {
  color: #06581f;
}

.topnav {
  float: left;

  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  font-size: .9em;
}

.topnav h3 {
  margin: .5em 0;
}

div{
	float:left;
	text-align:left;
}

.guess_box{
  height:245px;
  margin-bottom:40px

}

button{
   display: block;
   margin: auto;
}

.result_box{
   display: block;
   margin: auto;
   margin-left: 242px ;
   border: solid #bcd 12px;
   width: 295px;
   height: 95px;
   background-color: #eef;
   text-align: center;
   font-style: sans-serif bold;
}

#container {
  font-size: 1.2em;
  margin: 4em;
}

#header{
 	width:100%;
 	border: 0px;
 	height:50px;
}

.page-content{

	height: 500px;
	margin: auto;
	margin-top: 42px ;
	margin-left: 92px ;
}

.my_hover{
	border: solid #00f 3px;
}

.my_bright{
	background-color: cyan;
}

.discount{
	border: solid #0f0 3px;
}

.no_discount{
	border: solid #f00 3px;
}
